[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest
[submodule "vendor/abseil-cpp"]
	path = vendor/abseil-cpp
	url = https://github.com/abseil/abseil-cpp
